.App {
  text-align: center;
}

/*.bottom-position {*/
/*  position: relative;*/
/*}*/
/*.top-position {*/
/*  transform: translateY(-300px);*/
/*  transition-duration: 1s;*/
/*  transition-timing-function: ease-in-out;*/
/*}*/

/*@keyframes positionsLeft {*/
/*  0% {*/
/*    transform: translateX(0);*/
/*    opacity: 1;*/
/*  }*/
/*  50% {*/
/*    transform: translateX(0);*/
/*    opacity: 0.5;*/
/*  }*/
/*  100% {*/
/*    transform: translateX(-400px)*/
/*  }*/
/*}*/

/*@keyframes positionsRight {*/
/*  0% {*/
/*    transform: translateX(0);*/
/*    opacity: 1;*/
/*  }*/
/*  50% {*/
/*    transform: translateX(0);*/
/*    opacity: 0.5;*/
/*  }*/
/*  100% {*/
/*    transform: translateX(400px)*/
/*  }*/
/*}*/
/*.left-position {*/
/*  animation-name: positionsLeft;*/
/*  animation-duration: 2s;*/
/*  animation-timing-function: ease-in-out;*/
/*  animation-fill-mode: both;*/
/*}*/
/*.right-position {*/
/*  animation-name: positionsRight;*/
/*  animation-duration: 2s;*/
/*  animation-timing-function: ease-in-out;*/
/*  animation-fill-mode: both;*/

/*}*/
/*@keyframes scalesNumbers {*/
/*  0% {transform: scale(0); color: yellow}*/
/*  20% {transform: scale(1.8); color: red}*/
/*  21% {transform: scale(0);  color: yellow}*/
/*  40% {transform: scale(1.8); color: red}*/
/*  41% {transform: scale(0);  color: yellow}*/
/*  60%{transform: scale(1.8);  color: red}*/
/*  61% {transform: scale(0);  color: yellow}*/
/*  80% {transform: scale(1.8); color: red}*/
/*  81% {transform: scale(0);  color: yellow}*/
/*  100% {transform: scale(1.8); color: red}*/
/*}*/
/*.animatedCounting {*/
/*  animation-name: scalesNumbers;*/
/*  animation-duration: 5s;*/
/*  animation-timing-function: ease-in-out;*/
/*}*/
/*.showCounting{*/
/*  display: block;*/
/*}*/
.hidding {
  display: none;
}
.scrolling {
  height: 100vh;
  padding-top: 1.5em;
  text-align: center;
}
