.App {
  text-align: center;
}
.scrolling {
  height: 100vh;
  padding-top: 0.7em;
  text-align: center;
}
.font-face-courgette {
  font-family: "Courgette", monospace;
}
.toggle {
  margin-top: 2rem;
  margin-left: 70vw;

}